DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^.$ index.php [QSA]
RewriteRule ^/join.*$ body.php?pageUrl=page8.html [QSA]
RewriteRule ^/join/step1.*$ join/step1.php [QSA]
RewriteRule ^/join/step2.*$ join/step2.php [QSA]
RewriteRule ^/join/step3.*$ join/step3.php [QSA]
RewriteRule ^/join/step4.*$ join/step4.php [QSA]
RewriteRule ^/join/step5.*$ join/step5.php [QSA]
RewriteRule ^/welcome.*$ welcome.php [QSA]
RewriteRule ^/logout.*$ logout.php [QSA]