DirectoryIndex index.php

# enable apache rewrite engine
Options -MultiViews
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /


# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Push every request to index.php
RewriteRule ^class/abc/([0-9]+)/([0-9]+)$ class/abc/contents.php?abc_id=$1&abc_contents_id=$2
RewriteRule ^class/storybook/story/([0-9]+)/([0-9]+)/([0-9]+)$ class/storybook/story.php?storybook_id=$1&lesson_id=$2&story_id=$3
RewriteRule ^class/alivebook/read/([0-9]+)/([0-9]+)$ class/alivebook/read.php?alivebook_id=$1&story_id=$2
RewriteRule ^class/creationstory/old$ class/creationstory/index.php?category=0
RewriteRule ^class/creationstory/new$ class/creationstory/index.php?category=1
RewriteRule ^class/creationstory/([0-9]+)$ class/creationstory/contents.php?id=$1