@font-face {
  font-family: "NotoSansCJKkr";
  src: url("fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}

@media ( max-width: 900px ) {
  container {
    width: auto;
  }
  content {
    float: none;
    width: auto;
  }
  sidebar {
    float: none;
    width: auto;
  }
}

.body{
	width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
	width: 1024px;
    margin: 10px auto;
}

.container-header {
	width: 1024px;
	height: 80px;
	background-color: #ffa300;
}

.container-body {
	width: 1024px;
	height: 768px;
    object-fit: contain;
	background-color: #00a3e0;
}

.log{
  float: left;	
  width:350px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.menu{
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	height:10px;
}

.menuUl {
    list-style:none;
    text-align:center;
    height: 100%;
    
}

.menuLi {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
    margin-left:25px;
    display:flex; 
    align-items:center;

}

.menuLiBlue {
    border : 0;
    float: left;
    margin-left:30px;
    border-radius: 10px;
    background-color: #00a3e0;
    width:160px;
    margin-top: 12px;
   
}


.menuLi a{
  line-height:80px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}


.menuLiBlue a{
  line-height:60px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;

}

.menuLiSignIn a{
  line-height:80px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  padding-left:70px;
  color: #000000;
}

.mainLogo{
	margin-left: 350px;
	padding-top: 150px;
}

.mainText{
	padding-left: 79px;
	padding-top: 50px;	
	width: 867px;
  	height: 98px;
  	object-fit: contain;
 	font-family: NotoSansCJKkr;
  	font-size: 24px;
  	font-weight: 300;
  	font-stretch: normal;
  	font-style: normal;
  	line-height: 1.5;
  	letter-spacing: normal;
  	text-align: center;
  	color: #000000;
}

.mainDownload{
	margin-top:50px;
    background-color: #00a3e0;
    border-radius: 10px;
	width: 324px; 
	height: 55px; 
	margin-left: auto;
	margin-right: auto; 
	padding: 5px; 
	text-align: center; 
	line-height: 55px; 
	vertical-align:middle;"
	
	
}

.mainDownload span{ 
	width: 116px;
	height: 20px;
	object-fit: contain;
	font-family: NotoSansCJKkr;
	font-size: 24px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
	
	
}

.Background_page {
  width: 100%;
  height: 849px;
  object-fit: contain;
}

.ABC {
  width: 140px;
  height: 55px;
  padding-top:77px;
  padding-left:442px;
  object-fit: contain;
  
}
.Storybook{
  padding-left:373px;
  padding-top:48px;
  width: 278px;
  height: 56px;
  object-fit: contain;
}

.Lorem-text{
  padding-left:77px;
  padding-right:76px;
#  width: 871px;
  height: 62px;
#  object-fit: contain;
#  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
}

.Alivebook {
  padding-left:378px;
  padding-top:49px;
  width: 268px;
  height: 55px;
  object-fit: contain;
}

.Creation-Story {
  padding-left:330px;
  padding-top:49px;
  width: 364px;
  height: 56px;
  object-fit: contain;
}

.bbtn{
  padding-left:487px;
  padding-top:19px;
  width: 50px;
  height: 51px;
  object-fit: contain;
}
.mainPath {
    margin: 0;

    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: inherit;
    box-sizing: border-box;
    flex-shrink: 0;
    float:left;
    z-index :1;
}


.leftPath2 {
  width: 203px;
  height: 324px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
   flex-shrink: 0;
  object-fit: contain;
  z-index :2;
  float:left;
  
}
.leftPath3 {
  width: 162px;
  height: 324px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
   flex-shrink: 0;
  object-fit: contain;
  z-index :3;
  float:left;
  
}
.leftPath4 {
  width: 121px;
  height: 324px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
   flex-shrink: 0;
  object-fit: contain;
  z-index :4;
  float:left;
  
}

.rightPath2 {
  width: 203px;
  height: 325px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
   flex-shrink: 0;
  object-fit: contain;
  z-index :2;
  float:right;
  
}

.rightPath3 {
  width: 162px;
  height: 325px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
   flex-shrink: 0;
  object-fit: contain;
  z-index :3;
  float:right;
  
}

.rightPath4 {
  width: 121px;
  height: 325px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
   flex-shrink: 0;
  object-fit: contain;
  z-index :4;
  float:right;
  
}


.mainContent {
  width: 210px;
  height: 58px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  	vertical-align:middle;"
  	margin-left: auto;
	margin-right: auto; 
}