body {
  font-family:'NotoSans-Regular',sans-serif;
  margin: 0;
}

@font-face {
  font-family: 'Muli-Regular';
  src: url('fonts/Muli-Regular.ttf') format('opentype');
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("fonts/NotoSans-Regular.ttf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("fonts/NotoSans-Bold.ttf") format("opentype");
  unicode-range: U+0020-007E;
  font-style: normal;
}


.textDefault {
  object-fit: contain;
  font-stretch: normal;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: normal;
  color: #000000;
}


.bold {
  font-family:'NotoSans-Bold';
  /*font-weight: bold;*/
  
}

.img {
  max-width:100%;
  height:auto;
}

.arrow {
  width:257px;
  height:55px;
}

.arrow_last {
  width:229px;
  height:55px;
}

.button_popup{
  font-size: 18px;
  background-color: #00a3e0;
  padding: 3px 10px 3px 10px;
  border-radius: 5px;
  border-color: #00a3e0;
  color:#ffffff
}

.l17 {
  line-height: 1.7;
}

.f18 {
  font-size: 18px;
}

.f36 {
  font-size: 36px;
}

.whitetext {
  color: #ffffff;
}

.bluetext {
  color: #00a3e0;
}

.body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0;
}

.container-body {
  width: 100%;
  height: 688px;
}

.container-header {
  width: 100%;
  height: 80px;
  background-color: #ffa300;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.log {
  float: left;
  width: 350px;
  margin-left: 25px;
  margin-top: 25px;
}

.menu {
  /*margin-left: calc(50% - 30px);*/
  margin-left: calc(30%);
  padding: 0px;
  line-height: 0px;
  height: 80px;
}

.menuUl {
  list-style: none;
  text-align: center;
  margin: 0px;
}

.menuLi {
  float: left;
  margin-left: 25px;
}

.menuLi span {
  line-height: 80px;
  object-fit: contain;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
}

.menuLiBlue {
  float: left;
  margin-left: 30px;
  border-radius: 10px;
  background-color: #00a3e0;
  width: 160px;
  margin-top: 12px;
  cursor: pointer;
}

.menuLiBlue span {
  line-height: 60px;
  object-fit: contain;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.menuLiSignIn {
  float: right;
  margin-right: 27px;
}

.menuLiSignIn a {
  text-decoration-line: none;
  line-height: 80px;
  object-fit: contain;
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
}

.mainLogo {
  padding-top: 150px;
}

.divBox1 {
  /*padding-left: 79px;*/
  padding-top: 50px;
  text-align: center;
  display: -webkit-inline-flex;
  width: 867px;
}

.mainDownload {
  margin-top: 25px;
  background-color: #00a3e0;
  border-radius: 10px;
  width: 324px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  line-height: 55px;
  vertical-align: middle;
  cursor: pointer;
}

.mainDownload span {
  width: 116px;
  height: 20px;
  object-fit: contain;

  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
  line-height: 55px;
}

.mainDownload .selected {
  background-color: #999999;
}

.ABC {
  width: 140px;
  height: 55px;
  padding-top: 77px;
}

.Storybook {
  padding-top: 48px;
  width: 278px;
  height: 56px;
  object-fit: contain;
}

.divBox2 {
  padding-top: 10px;
  margin: auto;
  width: 871px;
  line-height: 1.5;
}

.Lorem-text-overflow {
  height: 62px;
  object-fit: contain;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 62px;
  letter-spacing: normal;
  text-align: justify;
  color: #000000;
  overflow: hidden;
  white-space: nowrap;
  display: -webkit-box;
}

.Lorem-text-overflow2 {
  position: relative;
  height: 62px;
  margin-top: 40px;
  width: 944px;
  left: 50%;
  transform: translateX(-50%);
}

.Lorem-text-overflow2 span {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.Lorem-text-overflow2 span:not(:first-child) {
  margin-left: 30px;
}

.Lorem-text-overflow2 .selected {
  font-weight: bold;
  color: #00a3e0;
}

.selected {
  font-weight: bold;
  color: #00a3e0;
}

.Lorem-text-overflow span {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.Lorem-text-overflow span:not(:first-child) {
  margin-left: 30px;
}

.Lorem-text-overflow .selected {
  font-weight: bold;
  color: #00a3e0;
}

.Alivebook {
  padding-top: 49px;
  width: 268px;
  height: 55px;
  object-fit: contain;
}

.Creation-Story {
  padding-top: 49px;
  width: 364px;
  height: 56px;
  object-fit: contain;
}

.bbtn {
  width: 50px;
  height: 51px;
  object-fit: contain;
}

.divBox4 div {
  width: calc(33.333333%);
  height: 350px;
  float: left;
  text-align: center;
  line-height: 300px;
}

.orangeBox {
  background-color: #ffa300;
}

.blueBox {
  background-color: #00a3e0;
}

.greenBox {
  background-color: #009639;
}

.email {
  padding-top: 500px;
  padding-left: 20px;
  text-align: center;
}

.scroll-top {
  padding-top: 175px;
  text-align: center;
}

.divBox5_1 {
  padding-top: 50px;
  text-align: left;
}

.divBox5_2 {
  padding-top: 20px;
  text-align: left;
  display: grid;
  grid-template-columns: 447px 439px;
  grid-gap: 50px;
}

.divBox6 {
  padding-top: 70px;
  width: 944px;
  height: 100%;
  text-align: left;
  margin: auto;
}

.divBox6 span {
  cursor: pointer;
}

.divBox6_2 span {
  cursor: text;
}

hr {
  height: 1px;
  background-color: grey;
}

.divBox6_2 {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  float: left;
}

.array1Div {
  width: 40px;
  height: 140px;
  float: left;
}

.spanColor-orange {
  object-fit: contain;
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffa300;
}

.video-class {
  width: 447px;
  height: 252px;
  background-color: #000;
}

.title-div {
  margin-top: 105px;
  width: 100%;
  text-align: center;
}

.title-div2 {
  margin: 40px 0px 20px 0px;
  width: 100%;
  text-align: left;
}

.sentence-div {
  position: absolute;
  width: 250px;
  text-align: center;
  top: 40px;
  color: #00a3e0;
  font-size: 26px;
}

.storybox {
  display: grid;
  grid-template-columns: 584px 270px;
  grid-gap: 16px;
  width: 944px;
  height: 320px;
  border: 1px solid grey;
  position: relative;
  text-align: left;
}

.creationbox {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 584px 360px;
  grid-gap: 16px;
  width: 944px;
  height: 320px;
  border: 1px solid grey;
  position: relative;
  text-align: left;
}

.black_background {
  width: 584px;
  height: 320px;
  position: absolute;
  background-color: black;
  opacity: 50%;
}

.replay_icon {
  position: absolute;
  width: 584px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.alivebox {
  display: grid;
  grid-template-columns: auto 320px;
  width: 944px;
  height: 320px;
  border: 1px solid grey;
  position: relative;
  text-align: center;
}

.image {
  width: 584px;
  height: 320px;
}

/*.video {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/


.alivebox .image {
  width: 320px;
  height: 320px;
}

.storywordbox {
  display: flex;
  margin-left: 7%;
  margin-right: 14%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


.storywordbox2 {
  display: flex;
  margin-left: 7%;
  margin-right: 14%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.alivewordbox {
  margin-left: 67px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.input-form {
  margin-top: 100px;
  text-align: center;
}

.divBox8 {
  padding-top: 10px;
  margin: auto;
  width: 512px;
  height: 350px;
  text-align: left;
}

.divBox8_1 {
  top: 8px;
  position: relative;
  width: 512px;
  margin: 0px;
}

.divBox8_1 input {
  text-align: center;
  width: 100%;
  height: 28px;
  line-height: normal;
  padding: 18px 0;
  border: 1px solid #999;
  border-radius: 0;
  outline-style: none;
  appearance: none;
}

.divBox8_2 {
  position: relative;
  margin-top: 14px;
  left: 34px;
}

.divBox8_2 img {
  transform: translateY(3px);
}

.find {
  width: 528px;
  height: 50px;
  margin-left: 256px;
  margin-top: 30px;
  padding-top: 5px;
  background-color: #ffa300;
  text-align: center;
  border-radius: 10px;
}

.nextblue {
  position: absolute;
  width: 218px;
  height: 50px;
  line-height: 50px;
  background-color: #00a3e0;
  text-align: center;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 1;
}

.wordblue {
  font-size: 18px;
  height: 28px;
  background-color: #00a3e0;
  text-align: center;
  border-radius: 20px;
  border-color: #00a3e0;
  margin: 5px 5px 5px 5px;
  padding-left: 20px;
  padding-right: 20px;
}

/*.wordblue1 {*/
/*  float:left;*/
/*  font-size: 18px;*/
/*  height: 28px;*/
/*  background-color: #00a3e0;*/
/*  margin-left:5px;*/
/*  margin-right:5px;*/
/*  margin-bottom:5px;*/
/*  padding-left:20px;*/
/*  padding-right:20px;*/
/*  text-align: center;*/
/*  border-radius: 10px;*/
/*  cursor: pointer;*/
/*  border-color: #00a3e0;*/
/*}*/

.wordblack {
  font-size: 18px;
  height: 28px;
  /*margin-left:5px;*/
  /*margin-right:5px;*/
  margin:5px 5px 5px 5px;
  padding-left:20px;
  padding-right:20px;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  border-color: black;
}

.wordblack1 {
  float:left;
  font-size: 18px;
  height: 28px;
  margin-left:5px;
  margin-right:5px;
  margin-bottom:5px;
  padding-left:20px;
  padding-right:20px;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  border-color: black;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 650px;
  /*width: 528px;*/
  width: 448px;
  height: 50px;
  margin-left: 256px;
  margin-top: 41px;
  background-color: #ffa300;
  text-align: center;
  border-radius: 10px;
  line-height: 1.8;
}

.next2 {
  top: 720px;
}

.next3 {
  top: 655px;
}

.next4 {
  top: 590px;
}


.storylist {
  position: absolute;
  /*width: 528px;*/
  width: 448px;
  height: 50px;
  margin-left: 256px;
  margin-top: 656px;
  padding-top: 5px;
  background-color: #ffa300;
  text-align: center;
  border-radius: 10px;
}

.replay {
  position: absolute;
  width: 270px;
  height: 50px;
  margin-left: 333px;
  margin-top: 25px;
  background-color: #00a3e0;
  text-align: center;
  border-radius: 10px;
  line-height: 50px;
}

.sound {
  position: absolute;
  width: 270px;
  height: 50px;
  margin-left: 652px;
  margin-top: 25px;
  background-color: #009639;
  text-align: center;
  border-radius: 10px;
  line-height: 50px;
}

.label {
  font-size: 24px;
  font-weight: 900;
}

.divBox9 {
  word-spacing: 100px;
  margin-top: 100px;
  margin-bottom: 160px;
  text-align: center;
}

.checks {
  position: relative;
}

.checks input[type='checkbox'] {
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 0%;
}

.checks input[type='checkbox'] + label:before {
  position: absolute;
  content: ' ';
  display: inline-block;
  width: 21px;
  height: 21px;
  line-height: 21px;
  vertical-align: middle;
  background: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  transform: translate(-35px, 8px);
}

.checks input[type='checkbox']:checked + label:before {
  content: '\2714';
  color: #99a1a7;
  background: #e9ecee;
  border-color: #adb8c0;
}

.divBox10 {
  position: relative;
  margin: 100px auto;
  width: 512px;
}

.divBox10:after {
  content: '';
  width: 20px;
  height: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  /*background-color: rgb(248, 248, 248);*/
  left: 460px;
  top: 10px;
}

.divBox11_1 {
  display: inline-block;
  position: relative;
  margin-top: 60px;
  margin-bottom: 200px;
  width: 229px;
  height: 55px;
  text-align-last: center;
}

.divBox11_1:after {
  content: '';
  width: 20px;
  height: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  /*background-color: rgb(248, 248, 248);*/
  left: 176px;
  top: 10px;
}

.divBox11_2 {
  display: inline-block;
  position: relative;
  margin-top: 60px;
  margin-left: 54px;
  margin-bottom: 200px;
  width: 229px;
  height: 55px;
  text-align-last: center;
}

.divBox11_2:after {
  content: '';
  width: 20px;
  height: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  position: absolute;
  transform: rotate(-45deg);
  /*background-color: rgb(248, 248, 248);*/
  left: 176px;
  top: 10px;
}

.divBox12_1 {
  width: 512px;
  height: 55px;
  margin: auto;
  text-align: left;
}

.divBox12_2 {
  width: 512px;
  height: 55px;
  text-align: left;
  margin-left: 27%;
  margin-top: 40px;
  margin-bottom: 130px;
}

.divBox13 {
  margin-top: 100px;
  margin-bottom: 160px;
  text-align: center;
}

.select {
  width: 512px;
  height: 55px;
  position: relative;
  text-align-last: center;
  -webkit-appearance: none;
  border: 1px solid #cacece;
}

.monthSel {
  width: 229px;
  height: 55px;
  -webkit-appearance: none;
}

.yearSel {
  width: 229px;
  height: 55px;
  -webkit-appearance: none;
}

.container-body-orange {
  width: 100%;
  height: 100%;
  background-color: #ffa300;
  text-align: center;
}

.container-body-white {
  width: 100%;
  height: fit-content;
  margin-bottom: 77px;
  background-color: #ffffff;
  text-align: center;
}

.container-body-white-left {
  width: 944px;
  height: fit-content;
  margin: auto;
  background-color: #ffffff;
  text-align: left;
}

.container-body-white-center {
  width: 944px;
  height: fit-content;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
}

.container-body-blue {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: #00a3e0;
  text-align: center;
}

.container-expand {
  height: fit-content;
}

.leftPath6 {
  width: 203px;
  height: 324px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  /*font-family: Roboto, Helvetica, sans-serif;*/
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
  float: left;
  position: absolute;
  margin-left: 101px;
  margin-top: 142px;
}

.leftPath5 {
  width: 162px;
  height: 324px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  /*font-family: Roboto, Helvetica, sans-serif;*/
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
  float: left;
  position: absolute;
  margin-left: 129px;
  margin-top: 142px;
}

.leftPath4 {
  width: 121px;
  height: 324px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  /*font-family: Roboto, Helvetica, sans-serif;*/
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 3;
  float: left;
  position: absolute;
  margin-left: 185px;
  margin-top: 142px;
}

.mainPath {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  /*font-family: Roboto, Helvetica, sans-serif;*/
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  float: left;
  z-index: 4;
  position: absolute;
  margin-top: 142px;
  width:500px;
  height:320px;
  display: inline-block;
  margin-left: -250px;
}

.rightPath3 {
  width: 203px;
  height: 325px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 3;
  float: left;
  position: absolute;
  margin-left: 636px;
  margin-top: 142px;
}

.rightPath2 {
  width: 162px;
  height: 325px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 2;
  float: left;
  position: absolute;
  margin-left: 733px;
  margin-top: 142px;
}

.rightPath1 {
  width: 121px;
  height: 325px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: inherit;
  box-sizing: border-box;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
  float: left;
  position: absolute;
  margin-left: 802px;
  margin-top: 142px;
}

.mainContent {
  width: 210px;
  height: 58px;
  object-fit: contain;
  
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

.bbtn_bottom {
  padding-top: 613px;
  width: 50px;
  height: 51px;
  object-fit: contain;
}

.bbtn_left {
  position: absolute;
  padding-left: 25px;
  padding-top: 279px;
  width: 50px;
  height: 51px;
  object-fit: contain;
}

.bbtn_right {
  position: absolute;
  padding-left: 949px;
  padding-top: 279px;
  width: 50px;
  height: 51px;
  object-fit: contain;
}

.bbtn_move {
  display: grid;
  grid-template-columns: 50px 50px;
  justify-content: space-between;
  margin-top: 20px;
}

.bbtn_left_move {
  width: 50px;
  height: 51px;
  object-fit: contain;
  cursor: pointer;
}

.bbtn_right_move {
  width: 50px;
  height: 51px;
  cursor: pointer;
}

.bbtn_left_story {
  position: absolute;
  margin-left: 15px;
  margin-top: 135px;
  width: 50px;
  height: 51px;
  object-fit: contain;
}

.bbtn_right_story {
  position: absolute;
  margin-left: 877px;
  margin-top: 137px;
  width: 50px;
  height: 51px;
  object-fit: contain;
}

.greenarrows {
  display: grid;
  grid-template-columns: 229px 229px 229px 229px;
  grid-gap: 10px;
  width: 63px;
  position: relative;
  margin-top: 25px;
}

.arrowtext {
  position: relative;
  font-weight: bold;
  top: -48px;
  left: 15px;
}

.popup_terms {
  overflow:scroll;
  visibility: hidden;
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 138px;
  /*left: 670px;*/
  margin-left: 208px;
  background: #fff;
  width: 460px;
  height: 445px;
  border: 2px solid #ffa300;
  color: grey;
  line-height: 55px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.popup_terms_arrow {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: -20px;
  /*left: 678px;*/
  margin-left: 214px;
  z-index: 2;
  border: solid 2px #ffa300;
  border-top: transparent;
  border-left: transparent;
  background-color: white;
  transform: rotate(45deg);
}

.popup_pw {
  text-align: center;
  visibility: hidden;
  z-index: 1;
  /*margin: auto;*/
  position: absolute;
  /*margin-left: 253px;*/
  margin-left: 210px;
  top: 564px;
  background: #fff;
  width: 516px;
  height: 55px;
  border: 2px solid #ffa300;
  color: grey;
  line-height: 55px;
}

.popup_pw:before {
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  left: 248px;
  z-index: 1;
  border: 2px solid #ffa300;
  border-top: transparent;
  border-left: transparent;
  background-color: white;
  transform: rotate(45deg);
}

.popup_pw span {
  position: relative;
  z-index: 2;
}

.password {
  color: black;
}

.push {
  /*width: 840px;*/
  width: 100%;
  transition-duration: 1s;
  transition-property: transform;
  display: list-item;
  overflow: scroll;
  -ms-overflow-style: none;
}
/*.push::-webkit-scrollbar{ display:none; }*/


.pushStory{
  width: 840px;
  transition-duration: 1s;
  transition-property: transform;
  display: list-item;
  overflow: scroll;
  -ms-overflow-style: none;
}

.pointer {
  position: relative;
  margin-top: 27px;
  text-align: left;
}

.abc_list {
  width: 951px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}

.alphabet_box {
  border: 1px solid grey;
  width: 951px;
  height: 324px;
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
}

.alphabet_box .box {
  width: 300px;
  height: 300px;
  border: 1px solid grey;
  margin-top: 12px;
  text-align: center;
}

.item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.grid-container {
  display: grid;
  grid-gap: 44px;
  grid-template-columns: 284px 284px 284px;
  margin-top: 37px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.grid-item {
  width: 288px;
  height: 233px;
}

.boxdescription {
  width: 100%;
  height: 56px;
  margin-top: 11px;
  font-size: 24px;
  text-align: left;
}

.grid-item2 {
  width: 288px;
  height: 268px;
}

.divBox22 {
  width: 100%;
  height: 162px;
  border: 1px solid grey;
}

.divBox22 div {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.divBox23 {
  width: 100%;
  width: 284px;
  height: 158px;
  border: 1px solid grey;
}

.divBox25 {
  width: 784px;
  height: 277px;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 784px;
  height: 277px;
  line-height: 1.5;
  text-align: justify;
  overflow: hidden;
}

.wordmeaning {
  line-height: 1.4;
  font-size: 23px;
}

.transparent {
  opacity: 10%;
}

.alivebookparagraph {
  /*width: 900px;*/
  width: calc(100%);
  /*height: 61px;*/
  height: calc(30%);
  margin-top: 46px;
  text-align: left;
  position: relative;
  /*margin-left: calc(50%);*/
  left: calc(55%);
  /*left: 50%;*/
  transform: translateX(-50%);
}

.wordmeaning2 {
  height: 25px;
  object-fit: contain;
  
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #00a3e0;
  margin-top: 40px;
}

.result {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  object-fit: contain;
  
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffa300;
  z-index: 1;
}

.green {
  color: #009639;
}

.wordselections {
  width: 409px;
  height: 20px;
  object-fit: contain;
  
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  position: absolute;
  margin-top: 47px;
  left: 50%;
  transform: translateX(-50%);
}

.wordselections2 {
  width: 100%;
  height: 60px;
  object-fit: contain;
  
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  /*display: flex;*/
  justify-content: space-evenly;
  position: relative;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.wordshadow {
  margin-top: 18px;
}

.word {
  font-weight: bold;
}

.boxtitle {
  /*width: 53px;*/
  height: 20px;
  line-height: 1.5;
  text-align: left;
  margin-top: 11px;
}

.wordbox2 div {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.boxdescription2 {
  width: 100%;
  height: 56px;
  margin-top: 16px;
  font-size: 24px;
  text-align: left;
}


.popup {
  visibility: hidden;
  margin-left: calc(100% - 256px);
  position: relative;
  background: #fff;
  width: 256px;
  height: 150px;
  box-shadow: -4px 4px rgba(0, 0, 0, 0.2);
}

.popup:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 180px;
  z-index: 1;
  border: solid 15px transparent;
  border-bottom-color: #fff;
}

.popup .textbox1 {
  margin-left: 25px;
  margin-top: 21px;
  padding-left: 10px;
  width: 206px;
  height: 32px;
}

.popup .textbox2 {
  margin-left: 25px;
  margin-top: 15px;
  padding-left: 10px;
  width: 206px;
  height: 32px;
}

.content {
  margin-top: 15px;
}

.content span a {
  text-decoration-color: black;
  text-decoration: none;
}

.join {
  width: 27px;
  height: 11px;
  object-fit: contain;
  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 25px;
}

.id_pw {
  width: 77px;
  height: 15px;
  object-fit: contain;
  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-left: 35px;
}

.ok {
  width: 20px;
  height: 11px;
  object-fit: contain;
  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  margin-left: 35px;
}

.popup_account {
  visibility: hidden;
  margin-left: calc(100% - 256px);
  position: relative;
  background: #fff;
  width: 256px;
  height: 61px;
  box-shadow: -4px 4px rgba(0, 0, 0, 0.2);
}

.popup_account:before {
  content: '';
  position: absolute;
  top: -30px;
  left: 180px;
  z-index: 1;
  border: solid 15px transparent;
  border-bottom-color: #fff;
}

.content_account {
  padding-top: 20px;
}

.content_account span a {
  color: black;
  text-decoration: none;
}

.myclass {
  width: 27px;
  height: 11px;
  object-fit: contain;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  margin-left: 50px;
}

.signout {
  width: 20px;
  height: 11px;
  object-fit: contain;
  
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #000000;
  margin-left: 45px;
}

.username {
  color: white;
}

.hover-green:hover{
  color: green;
}

.myclass_blue {
  list-style-type: none;
  float: left;
  border-radius: 10px;
  background-color: #00a3e0;
  height: 42px;
  margin-top: 15px;
}

.myclass_blue span {
  /*line-height: 60px;*/
  object-fit: contain;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: super;
}

#optimizedWarning{
  display: none;
}

.mobileLink{
  display: none;
}



@media (max-width: 768px){
  body{
    width: 100%;
    margin: 0;
  }
  .container-header{
    display: none;
  }
  .container-body{
    width: auto;
  }
  .container {
    width: auto;
  }
  .container-body-orange {
    width: auto;
  }
  .mainLogo{
    padding-top: 50px;
  }
  .divBox1{
    padding-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 0px;
    width: auto;
  }
  .mobileLink{
    display: block;
  }
  .pcLink{
    display: none;
  }
  #optimizedWarning{
    display: block;
  }
  .container-body-white {
    width: auto;
  }
  .container-body-blue {
    width: auto;
  }
  .divBox2{
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .divBox4 div{
    width: auto;
    float: none;
    height: 200px;
    line-height: 200px;
  }
  .email{
    padding-top: 100px;
  }
  .container-body-white-center{
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .divBox5_2{
    grid-template-columns: none;
  }
  .divBox6{
    width: auto;
  }

  .video-class{
    width: auto;
  }

/*  unused asset, but sometimes needed, Here starts */
  .divBox6 {
    width: auto;
  }

  .log {
    width: auto;
  }

  .popup_account {
    margin-left: calc(100% - 256px);
  }

  .popup {
    margin-left: calc(100% - 256px);
  }

  .popup_terms {
    width: calc(40%);
  }

  .abc_list {
    width: auto;
  }

  .next {
    margin-left: calc((100% - 550px) / 2);
  }

  .popup_pw{
    margin-left: calc((100% - 620px) / 2);
  }

  .replay {
    margin-left: calc(32%);
    width: calc(27%);
  }

  .sound {
    margin-left: calc(62%);
    width: calc(27%);
  }

  .grid-container {
    grid-template-columns: auto auto;
    left: calc(50%);
  }

  .Lorem-text-overflow2 {
    width: auto;
  }

  .alphabet_box{
    width:auto;
    border: 1px solid white;
  }

  .alphabet_box .box{
    width:calc(33%);
  }

  .img {
    max-width:93%;
    height:auto;
  }


  .arrow {
    width:calc(107%);

  }

  .arrow_last {
    width:calc(100%);
  }

  .arrowtext {
    position: relative;
    font-weight: bold;
    left: calc(2%);
  }

  .greenarrows{
    display: grid;
    grid-template-columns: calc(100%) calc(100%) calc(100%) calc(100%);
    grid-gap:0px;
    width: calc(25%);
  }

  .divBox25{
    width:calc(100%);
    /*padding-left:195px;*/
    left: 50%;
  }

  .word {
    padding-left:85px;
  }

  .wordmeaning {
    padding-left:85px;
  }


  .bbtn_right_story {
    margin-left: calc(100% - 65px);
  }

  .creationbox{
    grid-template-columns: calc(70%) calc(45%);
  }

  .storybox {
    grid-template-columns: calc(20%) calc(65%);
    width: auto;
  }

  .image{
    width: calc(500%);
  }

  .storywordbox {
    margin-left: 0px;
    margin-right:0px;
  }

  .storywordbox2 {
    width: calc(50%);
    margin-left: 3%;
  }

  .sentence-div{
    position: relative;
    width: auto;
    top: -7%;
  }


  .alivebox {
    width: auto;
  }


  .creationbox {
    width: auto;
  }

  .container-body-white-left {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .push {
    width: calc(100% - 100px);
  }

  .pushStory {
    width: calc(100%);
  }
  /*  unused asset, but sometimes needed, Here ends */

}

@media (min-width: 769px) and (max-width: 1023px) {
  body {
    width: 100%;
    margin: 0;
  }

  .container-header {
    width: auto;
  }

  .container-body {
    width: auto;
  }

  .container {
    width: auto;
  }

  .container-body-orange {
    width: auto;
  }

  .divBox1 {
    padding-right: 5%;
    padding-left: 5%;
    width: auto;
  }

  .menu {
    margin-left: calc(33%);
  }

  .menuLiBlue{
    display:none;
  }

  #optimizedWarning {
    display: block;
  }

  .container-body-white {
    width: auto;
  }

  .container-body-blue {
    width: auto;
  }

  .divBox2 {
    width: auto;
    padding-right: 5%;
    padding-left: 5%;
  }

  .divBox4 {
    width: 100%;
  }

  .divBox4 div {
    width: calc(33.333%);
  }

  .container-body-white-center {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .divBox6 {
    width: auto;
  }

  .log {
    width: auto;
  }

  .popup_account {
    margin-left: calc(100% - 256px);
  }

  .popup {
    margin-left: calc(100% - 256px);
  }

  .popup_terms {
    width: calc(40%);
  }

  .abc_list {
    width: auto;
  }

  .next {
    margin-left: calc((100% - 550px) / 2);
  }

  .popup_pw{
    margin-left: calc((100% - 620px) / 2);
  }

  .replay {
    margin-left: calc(31%);
    width: calc(26%);
  }

  .sound {
    margin-left: calc(62%);
    width: calc(26%);
  }

  .grid-container {
    grid-template-columns: calc(38%) calc(25%);
    left: calc(59%);
  }

  .Lorem-text-overflow2 {
    width: auto;
  }

  .alphabet_box{
    width:auto;
    border: 1px solid white;
  }

  .alphabet_box .box{
    width:calc(33%);
  }

  .img {
    max-width:93%;
    height:auto;
  }

  /*.video {*/
  /*  height: auto;*/
  /*  width: 270px;*/
  /*}*/


  .arrow {
    width:calc(107%);

  }

  .arrow_last {
    width:calc(100%);
  }

  .arrowtext {
    position: relative;
    font-weight: bold;
    left: calc(2%);
  }

  .greenarrows{
    display: grid;
    grid-template-columns: calc(100%) calc(100%) calc(100%) calc(100%);
    grid-gap:0px;
    width: calc(25%);
  }

  .divBox25{
    width:calc(100%);
    /*padding-left:195px;*/
    left: 50%;
  }

  .word {
    padding-left:85px;
  }

  .wordmeaning {
    padding-left:85px;
  }


  .bbtn_right_story {
    margin-left: calc(100% - 65px);
  }

  .creationbox{
    grid-template-columns: calc(70%) calc(45%);
  }

  .storybox {
    grid-template-columns: calc(20%) calc(65%);
    width: auto;
  }

  .image{
    width: calc(500%);
  }
  .storywordbox {
    margin-left: 0px;
    margin-right:0px;
  }

  .storywordbox2 {
    width: calc(50%);
    margin-left: 3%;
  }

  .sentence-div{
    position: relative;
    width: auto;
    top: -7%;
  }


  .alivebox {
    width: auto;
  }


  .creationbox {
    width: auto;
  }

  .container-body-white-left {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  /*.push {*/
  /*  width: calc(100% - 100px);*/
  /*}*/

  .pushStory {
    width: calc(100%);
  }
}
@media (min-width: 1025px) and (max-width: 1919px) {

}

.scroll-to-right{
  margin-left: 50px;
}

.scroll-to-left{
  display: none;
}

.downloadPopup{
  display: none;
  background-color: white;
  position: absolute;
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 5px;
  width: 80%;
  height: 40%;
  z-index: 1;
}

.alertPopup{
  display: none;
  background-color: white;
  border-style: solid;
  border-width: thin;
  position: absolute;
  margin-top: 50%;
  margin-bottom: 50%;
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
  /*height: 20%;*/
  z-index: 2;
}