.container-header {
	width: 1024px;
	height: 80px;
	background-color: #ffa300;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.log{
  float: left;
  width:350px;
  margin-left: 25px;
  margin-top: 25px;
}

.menu{
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	height:80px;
}

.menuUl {
    list-style:none;
    text-align:center;
    margin: 0px;
}

.menuLi {
    float: left;
    margin-left:25px;
}

.menuLi a{
  line-height:80px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.menuLiBlue {
    float: left;
    margin-left:30px;
    border-radius: 10px;
    background-color: #00a3e0;
    width:160px;
    margin-top: 12px;
}


.menuLiBlue a{
  line-height:60px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #000000;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.menuLiSignIn {
  float: right;
  margin-right: 27px;
}

.menuLiSignIn a{
	text-decoration-line: none;
  line-height:80px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
	cursor: pointer;
}
