.mainLogo {
  margin-left: 350px;
  padding-top: 150px;
}

.mainText {
  padding-left: 79px;
  padding-top: 50px;
  width: 867px;
  height: 98px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.mainDownload {
  margin-top: 50px;
  background-color: #00a3e0;
  border-radius: 10px;
  width: 324px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  text-align: center;
  line-height: 55px;
  vertical-align: middle;
}

.mainDownload span {
  width: 116px;
  height: 20px;
  object-fit: contain;
  font-family: NotoSansCJKkr;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    margin-top: 88px;
    margin-left: 863px;
    position: relative;
    background: #FFF;
    width: 256px;
    height: 150px;
    box-shadow: -4px 4px rgba(0, 0, 0, 0.2);
}

.popup:before{
    content: "";
    position: absolute;
    top: -30px;
    left: 180px;
    z-index: 1;
    border: solid 15px transparent;
    border-bottom-color: #FFF;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}

.textbox1 {
  padding-top: 21px;
  width: 206px;
}

.textbox2 {
  padding-top: 15px;
  width: 206px;
}

.content {
  padding-top: 45px;
}
